version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/" # Location of package manifests
    schedule:
      interval: weekly
    groups:
      patch-updates:
        update-types:
          - patch

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
