[package]
name = "mokapot"
version = "0.16.1"
edition = "2021"
description = "A library for ananlyzing JVM bytecode"
documentation = "https://docs.rs/mokapot"
license = "MIT"
repository = "https://github.com/henryhchchc/mokapot"
keywords = ["jvm", "java", "analysis", "bytecode"]
categories = ["parsing", "development-tools"]


[dependencies]
bitflags = "2.4"
cesu8 = "1.1"
derive_more = "0"
document-features = "0.2"
itertools = "0.13"
petgraph = { version = "0.6", optional = true }
thiserror = "1.0"
walkdir = "2"
zip = { version = "2.1", optional = true, default-features = false, features = [
  "deflate",
] }

[dev-dependencies]
proptest = "1"
proptest-derive = "0.5"
walkdir = "2"
tempdir = "0.3"
rand = "0.8"
rayon = "1"

[build-dependencies]
glob = "0.3"


[features]
default = ["jar", "petgraph"]

## Enables loading classes from `.jar` files
jar = ["dep:zip"]

## Enables the analysis of control flow graphs with `petgraph`.
petgraph = ["dep:petgraph"]
