[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.package]
version = "0.22.0"
edition = "2024"
repository = "https://github.com/henryhchchc/mokapot"
license = "MIT"
keywords = ["analysis", "bytecode", "java", "jvm"]
categories = ["development-tools", "parsing"]

[profile.release]
lto = true
