[package]
name = "mokapot"
version = "0.10.0"
edition = "2021"
description = "A library for ananlyzing JVM bytecode"
documentation = "https://docs.rs/mokapot"
license = "MIT"
repository = "https://github.com/henryhchchc/mokapot"
keywords = ["jvm", "java", "analysis", "bytecode"]


[dependencies]
bitflags = "2.4"
cesu8 = "1.1"
document-features = "0.2"
itertools = "0.12"
petgraph = { version = "0.6", optional = true }
thiserror = "1.0"
zip = { version = "0.6", optional = true, default-features = false, features = [
  "deflate",
] }

[dev-dependencies]
proptest = "1"
proptest-derive = "0.4"


[features]
default = ["jar", "petgraph"]

## Enables loading classes from `.jar` files
jar = ["dep:zip"]

## Enables the analysis of control flow graphs with `petgraph`.
petgraph = ["dep:petgraph"]
