[package]
name = "mokapot"
version = "0.18.0"
edition = "2024"
description = "A library for analyzing and manipulating JVM bytecode"
documentation = "https://docs.rs/mokapot"
license = "MIT"
repository = "https://github.com/henryhchchc/mokapot"
keywords = ["jvm", "java", "analysis", "bytecode"]
categories = ["parsing", "development-tools"]


[dependencies]
bitflags = "2.6"
cesu8 = "1.1"
derive_more = { version = "2", features = ["full"] }
document-features = "0.2"
itertools = "0.14"
petgraph = { version = "0.8", optional = true }
num-traits = "0.2"
thiserror = "2.0"
trait-gen = "0.3"
walkdir = "2"
zip = { version = "2.2", optional = true, default-features = false, features = [
    "deflate",
] }

[dev-dependencies]
proptest = "1"
proptest-derive = "0.5"
walkdir = "2"
rand = "0.9"
rayon = "1"

[build-dependencies]
glob = "0.3"


[features]
default = ["jar", "petgraph"]

## Enables loading classes from `.jar` files
jar = ["dep:zip"]

## Enables the analysis of control flow graphs with `petgraph`.
petgraph = ["dep:petgraph"]
