[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
version = "0.21.0"
edition = "2024"
license = "MIT"
repository = "https://github.com/henryhchchc/mokapot"
categories = ["parsing", "development-tools"]
keywords = ["jvm", "java", "analysis", "bytecode"]
