name: Code Quality

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
      - "**/*.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - docs/**
      - "**/*.md"
      - "LICENSE"
  workflow_call:

concurrency:
  group: code-quality-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  JAVA_VERSION: 25

permissions:
  checks: write
  contents: read
  security-events: write

jobs:
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Check code formatting with rustfmt
        run: cargo fmt --all -- --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - name: Setup Checking Tools
        uses: taiki-e/install-action@v2
        with:
          tool: clippy-sarif,sarif-fmt
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: corretto
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Cache Rust Build Stuff
        uses: Leafwing-Studios/cargo-cache@v2
        with:
          sweep-cache: true
      - name: Run clippy
        run: |
          cargo clippy \
            --all-features --all-targets --verbose \
            --message-format=json \
            -- -D warnings | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true
