name: Documentation

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: read

env:
  JAVA_VERSION: 25

jobs:
  build_doc:
    name: Build Rustdoc
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Build docs
        env:
          RUSTDOCFLAGS: --cfg docsrs
        run: cargo doc --all-features --no-deps --verbose
      - name: Fix file permissions
        run: |
          chmod -v -R +rX "target/doc/" | while read -r line; do
            echo "::info title=Fixed file permissions::$line"
          done
      - name: Upload docs as github pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: mokapot-docs
          path: target/doc

  publish_latest_docs:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: [build_doc]
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    environment:
      name: Latest Docs
      url: https://henryhchchc.github.io/mokapot/mokapot
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy docs to github pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: mokapot-docs
